<div class = "container">
    <div class = "vue-section">
        <%= render partial: "partials/form_structure", locals: {object: @officer, 
                                                        type_of_form: "Edit Officer",
                                                        fields: "officer_fields"} %>
    </div>
</div>