<div class = 'container'>
    <div class = 'vue-section'>
        <%= render partial: "partials/structure2", locals: {model_name: "officer", 
                                                         object: @officer,
                                                         primary: "officer_data", 
                                                         secondary: nil,
                                                         sidebar: "officer_sidebar",
                                                         togglepath: toggle_active_status_officer_path(@officer)} %>
    </div>
</div>