<% unless assignments.empty? %>
    <table class="lined">
      <thead>
        <th>Officer</th>
        <th>Starting</th>
      </thead>
      <% for assignment in assignments %>
      <tr>
        <td>
          &nbsp;<%= link_to assignment.officer.name, officer_path(assignment.officer) %>
        </td>
        <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>
      </tr>
      <% end %>
    </table>

<% else %>
  <% if can? :new, Assignment %>
  <p class = 'no-data-small'> No <%= state %> assignments </p>
  <% end %>
<% end %>