<div class = 'card'>
    <div class = 'card-content'>
        <span class="card-title">Notes</span>
        <% if @notes.empty? %>
            <div class = 'card-writer center-align no-notes'>
                No notes
            </div>
        <% end %>
        <% for note in @notes %>
        <%= render :partial => 'note', locals: {note: note} %>
        <% end %>
        <%= will_paginate @notes, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>

        
        <% if can? :new, InvestigationNote %>
            <div class = 'card-action'>
            <% if Assignment.where(investigation_id: @investigation, officer_id: Officer.find_by_user_id(current_user)).size != 0 %>
                <%= link_to "Add Note", new_investigation_note_path(investigation_id: @investigation.id), :class => "waves-effect waves-light btn btn-primary" %>
            <% end %>
            </div>

        <% end %>
    </div>
</div>