<div class = 'card'>
    <div class = 'card-content'>
        <div class = 'note-header'>
            <div class = 'note-officer'>
                <b> <%= note.officer.name %> </b>
            </div>

            <div class = 'note-date' >
                <%= note.date.strftime("%m/%d/%y") %>
            </div>
        </div>
        <br>

        <div class = 'note-content'>
            <%= note.content %>
        </div>
    </div>
</div>