<div class = 'container'>
    <div class = 'vue-section'>
        <%= render partial: "partials/form_structure", locals: {object: @investigation, 
                                                        type_of_form: "Edit Investigation",
                                                        fields: "fields"} %>
    </div>
</div>
                            