<div class = 'container'>
    <div class = 'vue-section'>
        <%= render partial: "partials/structure2", locals: {model_name: "investigation", 
                                                         object: @investigation,
                                                         primary: "investigation_data", 
                                                         secondary: "investigation_assignments",
                                                         sidebar: "investigation_sidebar"} %>
    </div>
</div>