<div id="footer-main-color" class="left-align">
  <div class = 'section'>
    <div id="copy">
      Webmaster: <%= mail_to("siheonl@andrew.cmu.edu", "Andrew Siheon Lee", encode: "javascript") %> 
      &copy 2018
    </div>
  </div>

</div>