
  <!-- primary partial gets displayed here in main div -->
  <%= render partial: "#{primary}" %>
  <!-- sometimes we want another partial below -->
  <% unless secondary.nil? %>
    <p>&nbsp;</p>
    <%= render partial: "#{secondary}" %>
  <% end %>



