
  <!-- primary partial gets displayed here in main div -->
  <%= render partial: "#{primary}" %>
  <!-- sometimes we want another partial below -->
  <% unless secondary.nil? %>
    <p>&nbsp;</p>
    <%= render partial: "#{secondary}" %>
  <% end %>

  <%= link_to new_unit_path, :class => 'waves-effect waves-light btn btn-secondary' do %>
    <i class="material-icons left">add</i> 
    add unit
  <% end %>


