<div id="tabbed">
  <tabs>
    <tab name="active" v-bind:selected="true">
      <%= render :partial => "#{list_partial}", locals: {var: @active_units, state: 'active'} %>
    </tab>

    <tab name="inactive">
      <%= render :partial => "#{list_partial}", locals: {var: @inactive_units, state: 'inactive'} %>
    </tab>
  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'crime'} %>