<div class = 'container'>
  <div class = 'vue-section'>
    <br/>
    <div class="row">    
      <div class="col s8">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><em>TO PROTECT AND TO SERVE</em></span>
            <p class = 'privacy'>The Gotham City Police Department, often referred to as the GCPD, is the police department of Gotham City. Aside from a handful of recurring characters, such as Harvey Bullock, Sarah Essen, Renee Montoya, and James Gordon, the department has a well-deserved reputation for being extraordinarily brutal and corrupt. It has alternatively supported or opposed Batman over the course of his vigilante career, and their complicated relationship often varied depending on contemporary Gotham politics and outlook of individual commissioners.
            </p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <br/>

  </div>
</div>

