<div class = 'container'>
  <div class = 'vue-section'>
    <br/>
    <div class="row">    
      <div class="col s8">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><em>Contacting GCPD Administrator</em></span>
            <p>GCPD Headquarters </p>
            <p>&nbsp;</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title">Contact</span>
            <table cellpadding="3">
              <tr>
                <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                <td>Andrew Lee</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>
                <%= mail_to("profh@cmu.edu", "leesihoney ", encode: "javascript") %> 
                </td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td>213-434-0449</td>
              </tr>
              <tr>
                <td>Emergency: </td>
                <td>911</td>
              </tr>

              <tr>
                <td>Non-Emergency: </td>
                <td>311</td>
              </tr>
            
              <tr>
                <td>GCPD General Inquiries:</td>
                <td>646-610-5000</td>
              </tr>

              <tr>
                <td>Sex Crimes Report Line:</td>
                <td>212-267-RAPE</td>
              </tr>

              <tr>
                <td>Crime Stoppers (Spanish):</td>
                <td>888-57-PISTA</td>
              </tr>

              <tr>
                <td>Missing Persons Case Status:</td>
                <td>212-694-7781</td>
              </tr>

              <tr>
                <td>Terrorism Hot-Line:</td>
                <td>888-NYC-SAFE</td>
              </tr>

              <tr>
                <td>Gun Stop Program:</td>
                <td>866-GUN-STOP</td>
              </tr>

              <tr>
                <td>Cop Shot:</td>
                <td>800-COP-SHOT</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>