<div class = 'container bg-black'>

  <div class="row">
    <div class="col s6">
      <div class = "home-title">
        <div class = "home-title-logo"> Better, Safer, Stronger </div>
        <%= render :partial => "home/login_box" %>
      </div>
    </div>
    <div class = "col s6">
      <div class ="home-bg">
        <%= image_tag('home_background.png') %>
      </div>
    </div>
  </div>

  </div>