<div class = 'container'>
    <div class = 'vue-section'>
        <%= render partial: "partials/form_structure", locals: {object: @crime, 
                                                        type_of_form: "Edit Crime",
                                                        fields: "fields"} %>
    </div>
</div>

