<div class="container">
    <div class = "vue-section">
        <h1 class = 'page-title'> Crimes </h1>
        <%= render partial: "partials/structure1", locals: {model_name: "crime", 
                                                         primary: "tabbed_index", 
                                                         secondary: nil,
                                                         sidebar: nil} %>
    </div>
</div>