<div class="container">
    <div class = "vue-section">
        <%= render partial: "partials/structure2", locals: {model_name: "unit", 
                                                         object: @unit,
                                                         primary: "officer_data", 
                                                         secondary: nil,
                                                         sidebar: "unit_data",
                                                         togglepath: toggle_active_status_unit_path(@unit)} %>
    </div>
</div>
