.alert-box {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.success {
    background-color: #27AE60;
}

.flash-section{
    width: 1100px;
    padding: 20px 80px;
}

.warning {
    background-color: #DB2323;
}