.bg-black {
    background-color: #000000;
}

.home-groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.home-title{
    padding: 10%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 50px;
    align-content: center;
}
.home-title-logo{
    /* Better, Safer, Stronger */
    width: 100%;
    font-family: Kitchen police;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 4em;
    color: #FFFFFF;
}
.home-title-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-title-exp {
    color: white;
    letter-spacing: 0.8px;
    line-height: 1.5em;

}
.home-primary-button, .home-secondary-button{
    text-align: center;
    padding: 20px 0;
    border-style: 1px solid;
    border-color: #192B61;
}

.home-primary-button {
    background-color: #192B61;
    color: white;
}

.home-secondary-button {
    background-color: black;
    border-color: white;
    color: white;
}
.home-bg img{
    width: 100%;
}
