.card-content form{
    margin-top: 40px;
}

.buttons-grid {
    display: grid;
    justify-items: right;
}

.no-data{
    text-align: center;
    margin: 100px 0;
    font-size: 3em;
    font-weight: 100;
}
