.card-content form{
    margin-top: 40px;
}

.buttons-grid {
    display: grid;
    justify-items: right;
}

.no-data{
    text-align: center;
    margin: 100px 0;
    font-size: 3em;
    font-weight: 100;
}

.no-data-small{
    text-align: center;
    margin: 50px 0 !important;
    font-size: 1.5em;
    font-weight: 100;  
}

.card-subtitle {
    font-weight: 400;
    font-size: 2em;
}

.card-writer {
    font-weight: 200;
    font-size: 1em;
}

.no-notes {
    margin: 16px 0;

}

.add-crime {
    color: white;
    background-color: #192B61;
    padding: 2px 3%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 30px;
}

.add-crime:hover{
    color: #192B61;
    background-color: white;
    padding: 2px 3%;
    border-style: solid;
    border-width: 1px;
    border-color: #192B61;
    border-radius: 30px;
}

.delete-crime:hover {
    color: white;
    background-color: red;
    padding-left: 3%;
    padding-right: 3%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 30px;
}
.delete-crime{
    color: red;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 30px;
}
.dotted-list{
    list-style-type: circle;
}