.card-content form{
    margin-top: 40px;
}

.buttons-grid {
    display: grid;
    justify-items: right;
}

.no-data{
    text-align: center;
    margin: 100px 0;
    font-size: 3em;
    font-weight: 100;
}

.no-data-small{
    text-align: center;
    margin: 50px 0 !important;
    font-size: 1.5em;
    font-weight: 100;  
}

.card-subtitle {
    font-weight: 400;
    font-size: 2em;
}

.card-writer {
    font-weight: 200;
    font-size: 1em;
}